.lightgray {
  background-color: #d7783a;
}

.lightblue {
  background-color: lightblue;
}

.banner1 {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size:100% auto; ;
  background-position: center;

}

.banner2 {
  background-image: url("../images/banner-tour.jpg");
  background-repeat: no-repeat;
  background-size:100% auto; ;
  background-position: center;

}

.banner3 {
  background-image: url("../images/banner-pricing.jpg");
  background-repeat: no-repeat;
  background-size:100% auto; ;
  background-position: center;

}

.logo {
  width:100px;
}

.nav {
	display: none;
  position: absolute;
  background-color: #c9ac93;
  width: 6em;
  padding:1em;
}

nav li {
  font-size: 1.2em;
}

.white{
  color: white;
}

.nav-check:checked ~ .nav {
	display: block;
}

.nav-check {
	/* Put the checkbox off the top of the screen */
	position: absolute;
	top: -3em;
}

.nav-check:checked ~ .nav-label {
	background-color: grey;
}

.nav-label {
  display:inline-block;
  width:50px;
}

.nav-label img {
  display:block;
  width:100%;

}

.wrapper{
  max-width:30em;
  margin:0 auto;
}
